# Android/IntelliJ
#
build/
    .idea
    .gradle
local.properties
*.iml
# android/app/build
android/.gradle

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# BUCK
buck-out/
\.buckd/

# Bundle artifact
*.jsbundle
/.idea