node_modules
android/.gradle
android/.gradle/6.7/executionHistory/executionHistory.bin
android/.gradle/6.7/executionHistory/executionHistory.lock
android/.gradle/6.7/fileHashes/fileHashes.bin
android/.gradle/6.7/fileHashes/fileHashes.lock
android/.gradle/6.7/javaCompile/javaCompile.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/checksums/checksums.lock
android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
android/app/build/outputs/apk/debug/app-debug.apk
android/.gradle/6.7/executionHistory/executionHistory.bin
android/.gradle/6.7/executionHistory/executionHistory.lock
android/.gradle/6.7/fileHashes/fileHashes.bin
android/.gradle/6.7/fileHashes/fileHashes.lock
android/.gradle/6.7/fileHashes/resourceHashesCache.bin
android/.gradle/6.7/javaCompile/classAnalysis.bin
android/.gradle/6.7/javaCompile/jarAnalysis.bin
android/.gradle/6.7/javaCompile/javaCompile.lock
android/.gradle/6.7/javaCompile/taskHistory.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin
android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
android/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex
android/app/build/intermediates/dex/debug/mergeLibDexDebug/classes_3.dex
android/app/build/intermediates/dex/debug/mergeProjectDexDebug/classes.dex
android/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/aZc_Mu8WxtPykiGexelv6N6nQYg=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cQtZVbiRHk+HGe6gsIL0p75mulg=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dFZhRxgN4d8tlMbdQ4viNcaKgwE=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FkWlJalHbnu5zSwc_TeznLVJ_qI=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ft1ZhAOpp8_joSRNCyEHevLyvk8=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JqEvX2nOlVlP7fPyO7FZDTCX5Ro=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kjPc_XfkgQuECHYmbe_TelptoCc=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lIwihc5vW6qKrIHDS_HB_G9Uvw8=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LLOvT4u72SqKp7axLOQG6GowUz0=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/nka1TSj9I0+S6IzsKbEpkqH6Hqg=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OS7zzKDHehCKRuUgP1KTlYBGYsE=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/p0n7JdI+lOfnSYxwumBOCJfMNzE=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pVu5i6g+QWs5F61qPVLZNFuIBQo=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QfE9uSEqrIr0p_YU4KcHLxwapeE=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rvbGp5L8dlbzciAzn8OTYXyG21I=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/s42qM7fNlCjf7OBgiS69KvNEkQA=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SDw_dZaeb_oz_Mw3CXVLsT4Cd+M=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tsYbDlGGsO8Z53M_6JNPF4wnEB8=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XuauW30lQuNoDZ1LDz8ihykCObg=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xxXFI6TvrbfALq7ULjGUqUxJc1c=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/aZc_Mu8WxtPykiGexelv6N6nQYg=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/cQtZVbiRHk+HGe6gsIL0p75mulg=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/dFZhRxgN4d8tlMbdQ4viNcaKgwE=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/FkWlJalHbnu5zSwc_TeznLVJ_qI=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ft1ZhAOpp8_joSRNCyEHevLyvk8=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/JqEvX2nOlVlP7fPyO7FZDTCX5Ro=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/kjPc_XfkgQuECHYmbe_TelptoCc=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/lIwihc5vW6qKrIHDS_HB_G9Uvw8=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/LLOvT4u72SqKp7axLOQG6GowUz0=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/nka1TSj9I0+S6IzsKbEpkqH6Hqg=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/OS7zzKDHehCKRuUgP1KTlYBGYsE=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/p0n7JdI+lOfnSYxwumBOCJfMNzE=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/pVu5i6g+QWs5F61qPVLZNFuIBQo=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/QfE9uSEqrIr0p_YU4KcHLxwapeE=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/rvbGp5L8dlbzciAzn8OTYXyG21I=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/s42qM7fNlCjf7OBgiS69KvNEkQA=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/SDw_dZaeb_oz_Mw3CXVLsT4Cd+M=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/tsYbDlGGsO8Z53M_6JNPF4wnEB8=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/XuauW30lQuNoDZ1LDz8ihykCObg=
android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/xxXFI6TvrbfALq7ULjGUqUxJc1c=
android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-as/values-as.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-or/values-or.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
android/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
android/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
android/app/build/intermediates/merged_java_res/debug/out.jar
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-af.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-am.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ar.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-as.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-az.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+sr+Latn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-be.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bg.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bs.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ca.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-cs.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-da.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-de.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-el.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rAU.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rCA.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rGB.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rIN.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rXC.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rUS.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-eu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr-rCA.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hy.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-in.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-is.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-it.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-iw.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ja.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ka.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-km.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ko.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ky.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lo.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lt.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lv.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ml.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ms.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-my.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nb.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ne.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-or.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pa.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rBR.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rPT.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ro.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ru.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-si.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sq.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ta.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-te.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-th.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ur.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uz.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v16.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v21.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-vi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rCN.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rHK.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rTW.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
android/.gradle/checksums/checksums.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/6.7/fileHashes/fileHashes.lock
android/.gradle/6.7/fileHashes/fileHashes.bin
android/.gradle/6.7/executionHistory/executionHistory.lock
android/.gradle/6.7/executionHistory/executionHistory.bin
android/.gradle/checksums/checksums.lock
android/.gradle/6.7/executionHistory/executionHistory.bin
android/.gradle/6.7/executionHistory/executionHistory.lock
android/.gradle/6.7/fileHashes/fileHashes.bin
android/.gradle/6.7/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/6.7/executionHistory/executionHistory.bin
.gitignore
android/.gradle/6.7/fileHashes/fileHashes.bin
android/.gradle/6.7/fileHashes/fileHashes.lock
